<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerBD</servlet-name>
  	<display-name>ControllerBD</display-name>
  	<description></description>
  	<servlet-class>com.fati.controladores.ControllerBD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerMostrarBeneficiario</servlet-name>
  	<display-name>ControllerMostrarBeneficiario</display-name>
  	<description></description>
  	<servlet-class>com.fati.controladores.ControllerMostrarBeneficiario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerLogin</servlet-name>
  	<display-name>ControllerLogin</display-name>
  	<description></description>
  	<servlet-class>com.fati.controladores.ControllerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerBD</servlet-name>
  	<url-pattern>/ControllerBD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerMostrarBeneficiario</servlet-name>
  	<url-pattern>/ControllerMostrarBeneficiario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerLogin</servlet-name>
  	<url-pattern>/ControllerLogin</url-pattern>
  </servlet-mapping>
</web-app>
